@import './styles/variables';

.glow-bordered {
  &-card {
    padding: 20px 10px 25px;
    position: relative;
    text-align: center;
    border: 1px solid #1a2f66;
    border-radius: 16px;
    box-shadow: 0px 34px 54px -20px #0a2761,
      inset 0px 2px 13px rgba(0, 71, 255, 0.21);
  }
  &-border {
    &-h {
      position: absolute;
      left: 16px;
      width: calc(100% - 32px);
      height: 2px;
      background: linear-gradient(90deg, #1a2f66 0%, #026acd 50%, #1a2f66 100%);
      &.top {
        top: -1px;
      }
      &.bottom {
        bottom: -1px;
      }
    }
    &-v {
      position: absolute;
      top: 16px;
      width: 2px;
      height: calc(100% - 32px);
      background: linear-gradient(0deg, #1a2f66 0%, #026acd 50%, #1a2f66 100%);
      &.left {
        left: -1px;
      }
      &.right {
        right: -1px;
      }
    }
  }
  &-tag {
    position: absolute;
    padding: 4px 10px;
    left: 50%;
    top: -12px;
    transform: translateX(-50%);
    width: auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    background-color: #06ae72;
    border: 2px solid #153764;
    border-radius: 8px;
  }
  &-title {
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: capitalize;
  }
  &-bar {
    height: 4px;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #152348 92.19%);
  }
  &-content {
    padding-top: 29px;
    font-size: 20px;
    line-height: 24px;
  }
}
