.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #02091b;
  overflow-x: hidden;

  .page-wrapper {
    position: relative;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url('/assets/img/bg-ellipse-1.png'),
      url('/assets/img/bg-ellipse-2.png'),
      url('/assets/img/bg-ellipse-3.png');
    background-size: 700px, 1200px, 400px;
    background-position: 0 100%, 50% 80px, 100% 100%;
  }
}
